$color-text: #636060;
$color-brend: #E06733;
$color-additional: #499A18;
$color-background: #EDF2EC;
$color-tag: #717171;
$color-border: #E3E1D5;
$color-link: #010201;



$content-width: 1220px;
$content-additional: 900px;
$tablet-width: 768px;
$mobile-big-width: 690px;
$mobile-small-width: 320px;